<p>
  <strong>Title:</strong>
  <%= @question.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @question.content %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @question.user.name, @question.user %>
</p>

<% if user_signed_in? %>
  <% if @question.user == current_user %>
    <%= link_to 'Edit', edit_question_path(@question) %>
    <br>
  <% end %>
  Comment link
<% else %>
  Sign in to comment
<% end %>
