<% markdown = new_markdown %>

<h2><%= @user.name %></h2>

<p><%== markdown.render(@user.description) %></p>

<% if user_signed_in? and @user == current_user %>
  <h4><%= link_to 'Edit', edit_registration_path(current_user) %></h4>
<% end %>

<h3>Questions</h3>

<% @user.questions.each do |question| %>
  <article class="question-summary">
    <h2 class="question-title"><%= link_to question.title, question %></h2>
  </article>
<% end %>