/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 ** require_tree .
 *= require_self

 */

html {
  font-family: "Segoe UI",Arial,sans-serif;
}

body {
  margin: 0;
  background-color: #CCC;
}

header {
  background-color: #444;
}

header .content{
  padding-top: 8px;
  padding-bottom: 8px;
}

header a {
  padding: 8px;
  border-radius: 8px;
  color: #EA6;
  margin-right: 8px;
}

header a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

footer {
  background-color: #CCC;
}

footer p {
  text-align: center;
}

.content {
  padding: 0 8px;
  margin: 0 auto;
  max-width: 800px;
  min-width: 400px;
}

#main {
  background-color: #FFF;
}

#main .content {
  padding-top: 2em;
}

a {
  text-decoration: none;
  color: #C82;
}

a:hover {
  text-decoration: underline;
}

article {
  padding: 0.5em;
  margin: 0.5em;
  border: 2px solid #CCC;

}

.epiceditor-container {
  border: 2px solid #666;
}